<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ulisboa.tecnico.cmov.shopist">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopIST"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".ShareListActivity"
            android:parentActivityName=".ListActivity"></activity>
        <activity
            android:name=".AddStoresActivity"
            android:parentActivityName=".AddItemActivity"></activity>
        <activity
            android:name=".ViewPicturesActivity"
            android:parentActivityName=".AddPicturesActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="pt.ulisboa.tecnico.cmov.shopist"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".AddPicturesActivity"
            android:parentActivityName=".AddItemActivity" />
        <activity
            android:name=".AddItemActivity"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".ItemActivity"
            android:parentActivityName=".ListActivity" />
        <activity
            android:name=".ListActivity"
            android:parentActivityName=".HomeActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${API_KEY}" />

        <activity
            android:name=".AddListActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QrCodeScanner" />

    </application>

</manifest>